extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type="button", value="Send Text mail" onclick='sendTexteMail()')
  input(type="button", value="Send HTML mail" onclick='sendHtmleMail()')
